<tr>
	<td><%=lastNum%></td>
	<td><%=name%></td>
	<td><%=postCount%></td>
	<td><%=description%></td>
	<td>
		<a data-no='<%=no%>' href="" >
		<img src='<%=contextPath%>/assets/image/delete.jpg'/></a>
	</td>
</tr>